.banner{
    background: url('https://i.ibb.co/tPz3tK9/Rectangle-4281.png?fbclid=IwAR25TiNoafJhNBYj_v39TbRQ1hcnPUs5wZlIZoXyAdAjKlM1Zqu-i4uEtvg'),linear-gradient(to top,rgba(250, 245, 245, 0.95),rgba(250, 245, 245, 0.95));
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: overlay;
    height: 400px;
    
    
    
    

    
    
}